@page "/contact"
@using BlazorApp.Bootstrap.Data.Dtos


<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-header"><h3>Contact</h3></div>
            <div class="card-body">
                <p><strong>[wip]</strong></p>
                <p>
                    <strong>W</strong>ork &nbsp;
                    <strong>I</strong>n &nbsp;
                    <strong>P</strong>rogress &nbsp;
                </p>

                <p>You could try to contact me through GitHub.</p>

                <p>https://github.com/BenVanZyl/</p>
            </div>
        </div>
    </div>
</div>
